@import '../../helpers/const.scss';

.container {
  @include page_container;
  padding-bottom: 8.75%;
  padding: 3.5% 96px 5%;

  display: flex;
  overflow: hidden;
  flex-direction: column;

  @media (max-width: $tablet) {
    align-items: center;
    padding: 8% 10% 4%;
  }

  h1 {
    color: white;
    width: 60%;
    font-size: 71px;
    line-height: 90px;
    font-weight: 300;
    z-index: 2;

    @media (max-width: $tablet) {
      width: 100%;
      font-size: 24px;
    }
  }

  p {
    width: 60%;
    flex-grow: 1;
    color: $color-green;
    font-size: 71px;
    line-height: 90px;
    z-index: 2;

    @media (max-width: $tablet) {
      width: 100%;
      font-size: 24px;
    }
  }
}

.button_green {
  @include green_button;
  font-weight: 300;
  font-size: 78px;
  line-height: 46px;
  color: black;
  border-radius: 20px;
  border: none;
  width: 84%;
  max-width: 586px;
  height: 120px;
  display: flex;
  align-items: center;
  align-self: flex-end;
  z-index: 2;
  @media (max-width: $tablet) {
    width: 100%;
    height: 70px;
    margin-bottom: 17%;
  }

  img {
    height: 50%;
    margin: 6%;
    @media (max-width: $tablet) {
      height: 40%;
      margin: 10%;
    }
  }
}

.stars {
  display: block;
  position: absolute;
  z-index: 1;
  width: 24%;
  top: 33%;
  right: 32%;

  @media (max-width: 1000px) {
    display: none;
  }

  @media (max-width: $tablet) {
    display: block;
    position: static;
    width: 100%;
  }
}
