@import '../../helpers/const.scss';

.container {
  @include page_container;

  max-width: 100vw;
  padding-top: 86px;
  padding-bottom: 96.15px;

  display: flex;
  overflow: hidden;
  flex-direction: column;

  @media (max-width: $tablet) {
    align-items: center;
    padding: 19.8% 8.7% 19.3%;
  }

  h1 {
    color: white;
    width: 60%;
    font-size: transformPxToVw(67.46);
    line-height: transformPxToVw(86.01);
    font-weight: 300;
    z-index: 2;
    margin-bottom: transformPxToVw(120);

    @media (max-width: $tablet) {
      width: 100%;
      font-size: 27px;
      line-height: 33.91px;
      margin-bottom: 47px;
    }
  }

  p {
    width: 60%;
    color: $color-green;
    font-size: transformPxToVw(67.46);
    line-height: transformPxToVw(86.01);
    z-index: 2;
    margin: 0;
    margin-bottom: 70px;
    flex-grow: 1;

    @media (max-width: $tablet) {
      width: 100%;
      font-size: 27px;
      line-height: 33.91px;
      margin-bottom: -70px;
    }
  }
}

.smile {
  display: none;

  img {
    width: 100%;
  }

  @media (max-width: $tablet) {
    display: block;
    flex-grow: 1;
  }
}

.stars {
  display: block;
  position: absolute;
  z-index: 1;
  width: 24%;
  top: 33%;
  right: 30%;

  img {
    width: 100%;
  }

  @media (max-width: 1000px) {
    display: none;
  }

  @media (max-width: $tablet) {
    display: none;
  }
}

.button_green {
  @include green_button;
  font-weight: 300;

  color: black;
  border-radius: 17.47px;
  border: none;

  width: transformPxToVw(587.222);
  height: transformPxToVw(120.7233);
  font-size: transformPxToVw(81.64);
  line-height: transformPxToVw(97.97);

  display: flex;
  align-items: center;
  align-self: flex-end;
  z-index: 2;
  @media (max-width: $tablet) {
    width: 100%;
    height: 71px;
    font-size: 48.38px;
    line-height: 58.06px;
    font-weight: 300;
    box-sizing: border-box;
    padding: 0;
  }

  img {
    height: 50%;
    margin: 6%;
    @media (max-width: $tablet) {
      height: 50%;
      margin: 10%;
    }
  }
}
