$color-green: #cbff00;
$color-black: #1b1b1e;

$tablet: 720px;

$padding-horizontal-container: 94px;
$padding-top-container: 105px;
$padding-top-container-question: 86px;
$padding-bottom-container: 97px;

$standart-width: 1920;

@function transformPxToVw($px) {
  @return $px * 100 / $standart-width * 1vw;
}

@mixin green_button {
  background: #cbff00;
  font-style: normal;
  font-weight: 300;
  font-size: 56px;
  line-height: 46px;
  text-align: center;
  cursor: pointer;
  color: black;
  border-radius: 20px;
  border: none;
  font-family: 'Latech';
  box-sizing: border-box;
  @media (max-width: $tablet) {
    font-size: 36px;
  }
}

@mixin page_container {
  max-width: 100vw;
  min-height: 100vh;
  height: auto;
  background-color: black;
  background-size: cover;
  background-repeat: no-repeat;
  box-sizing: border-box;
  position: relative;
  color: white;
  font-family: 'Latech';
  padding-left: $padding-horizontal-container;
  padding-right: $padding-horizontal-container;
}
